@import '@/styles/variables.css';

html {
  --uno: 'text-size-$font-size lh-$line-height-md';
}

h1 {
  --uno: 'text-size-$font-size-h1 lh-$line-height-sm';
}

h2 {
  --uno: 'text-size-$font-size-h2 lh-$line-height-sm';
}

h3 {
  --uno: 'text-size-$font-size-h3 lh-$line-height-sm';
}

h4 {
  --uno: 'text-size-$font-size-h4 lh-$line-height-sm';
}

h5 {
  --uno: 'text-size-$font-size-h5 lh-$line-height-sm';
}

h6 {
  --uno: 'text-size-$font-size-h6 lh-$line-height-sm';
}

p {
  --uno: 'text-size-$font-size-p lh-$line-height-lg';
}
