html {
  /* Font size */
  --font-size: 62.5%;  /* 1rem = 10px */
  --font-size-h1: 4rem; /* 40px */
  --font-size-h2: 3.2rem; /* 32px */
  --font-size-h3: 2.8rem; /* 28px */
  --font-size-h4: 2.4rem; /* 24px */
  --font-size-h5: 2rem; /* 20px */
  --font-size-h6: 1.6rem; /* 16px */
  --font-size-p: 1.6rem; /* 16px */
  --font-size-sm: 1.2rem; /* 12px */
  --font-size-md: 1.4rem; /* 14px */
  --font-size-lg: 1.8rem; /* 18px */
  --line-height-sm: 1.2;
  --line-height-md: 1.4;
  --line-height-lg: 1.6;

  /* Primary */
  --primary: #2563eb;/* 基本色 */
  --primary-lightest: color-mix(in srgb, var(--primary) 60%, white); /* 更亮的藍色 */
  --primary-lighter: color-mix(in srgb, var(--primary) 70%, white); /* 較亮的藍色 */
  --primary-light: color-mix(in srgb, var(--primary) 80%, white); /* 較亮的藍色 */
  --primary-dark: color-mix(in srgb, var(--primary) 80%, black); /* 較深的藍色 */
  --primary-darker: color-mix(in srgb, var(--primary) 70%, black); /* 更深的藍色 */
  --primary-darkest: color-mix(in srgb, var(--primary) 60%, black); /* 最深的藍色 */

  /* Success */
  --success: #18a058;/* 基本色 */
  --success-lightest: color-mix(in srgb, var(--success) 60%, white); /* 更亮的綠色 */
  --success-lighter: color-mix(in srgb, var(--success) 70%, white); /* 較亮的綠色 */
  --success-light: color-mix(in srgb, var(--success) 80%, white); /* 較亮的綠色 */
  --success-dark: color-mix(in srgb, var(--success) 80%, black); /* 較深的綠色 */
  --success-darker: color-mix(in srgb, var(--success) 70%, black); /* 更深的綠色 */
  --success-darkest: color-mix(in srgb, var(--success) 60%, black); /* 最深的綠色 */

  /* Warning */
  --warning: #eab308;/* 基本色 */
  --warning-lightest: color-mix(in srgb, var(--warning) 60%, white); /* 更亮的黃色 */
  --warning-lighter: color-mix(in srgb, var(--warning) 70%, white); /* 較亮的黃色 */
  --warning-light: color-mix(in srgb, var(--warning) 80%, white); /* 較亮的黃色 */
  --warning-dark: color-mix(in srgb, var(--warning) 80%, black); /* 較深的黃色 */
  --warning-darker: color-mix(in srgb, var(--warning) 70%, black); /* 更深的黃色 */
  --warning-darkest: color-mix(in srgb, var(--warning) 60%, black); /* 最深的黃色 */

  /* Danger */
  --danger: #d03050;/* 基本色 */
  --danger-lightest: color-mix(in srgb, var(--danger) 60%, white); /* 更亮的紅色 */
  --danger-lighter: color-mix(in srgb, var(--danger) 70%, white); /* 較亮的紅色 */
  --danger-light: color-mix(in srgb, var(--danger) 80%, white); /* 較亮的紅色 */
  --danger-dark: color-mix(in srgb, var(--danger) 80%, black); /* 較深的紅色 */
  --danger-darker: color-mix(in srgb, var(--danger) 70%, black); /* 更深的紅色 */
  --danger-darkest: color-mix(in srgb, var(--danger) 60%, black); /* 最深的紅色 */

  /* Default */
  --default: #6b7280;/* 基本色 */
  --default-lightest: color-mix(in srgb, var(--default) 60%, white); /* 更亮的灰色 */
  --default-lighter: color-mix(in srgb, var(--default) 70%, white); /* 較亮的灰色 */
  --default-light: color-mix(in srgb, var(--default) 80%, white); /* 較亮的灰色 */
  --default-dark: color-mix(in srgb, var(--default) 80%, black); /* 較深的灰色 */
  --default-darker: color-mix(in srgb, var(--default) 70%, black); /* 更深的灰色 */
  --default-darkest: color-mix(in srgb, var(--default) 60%, black); /* 最深的灰色 */
}
